nav .menu {
font-size: 16px;
font-weight: bold;
margin-left: 12px;
}

nav .menu a:hover {
color: #abcd34; //#edab57
}

#notice {
color: #286783; //#abcd34
}

#wrapper {
background: #B3D8A9; //#F2E7D8
padding: 10px 5px;  // 0 20px  
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;    
}

